@using EPRN.Common.Enums;

@model DecemberWasteViewModel
@{
    ViewData["Title"] = DecemberWasteResource.PERNPageTitle;
}

<partial name="_ValidationSummary" />
<form method="post">
    <radios asp-for="WasteForDecember" asp-title="@DecemberWasteResource.PERNHeading">

        <div class="govuk-hint">
            @DecemberWasteResource.HintText <b>@Model.BalanceAvailable @DecemberWasteResource.Tonnes</b>
        </div>

        <p class="govuk-error-message">
            <span asp-validation-for="WasteForDecember"></span>
        </p>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" asp-for="WasteForDecember" value=@true aria-describedby="@MasterResources.Yes">
            <label class="govuk-label govuk-radios__label" for="@MasterResources.Yes">
                @MasterResources.Yes
            </label>
        </div>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" asp-for="WasteForDecember" value=@false aria-describedby="@MasterResources.No">
            <label class="govuk-label govuk-radios__label" for="@MasterResources.No">
                @MasterResources.No
            </label>
        </div>

    </radios>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>