@using static EPRN.Common.Constants.Strings;
@model List<EPRN.Portal.ViewModels.PRNS.ViewDraftPrnViewModel>

@if (ViewBag.PrnDeletedConfirmation != null)
{
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @DraftPrnsResources.Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                @string.Format(@DraftPrnsResources.DeleteConfirmation, ViewBag.PrnDeletedConfirmation)
            </p>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">@DraftPrnsResources.Heading_Exporter</h2>
        <p class="govuk-body">@DraftPrnsResources.SubHeading_Exporter</p>

        <form class="form" method="POST">

            <table class="govuk-table">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@DraftPrnsResources.TableColumnNumber_Exporter</th>
                        <th scope="col" class="govuk-table__header">@DraftPrnsResources.TableColumnMaterial</th>
                        <th scope="col" class="govuk-table__header">@DraftPrnsResources.TableColumnSentTo</th>
                        <th scope="col" class="govuk-table__header">@DraftPrnsResources.TableColumnDateCreated</th>
                        <th scope="col" class="govuk-table__header">@DraftPrnsResources.TableColumnTonnage</th>
                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    @foreach (var draftPrn in Model)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="organisation" name="prnId" type="radio" value="@draftPrn.Id">
                                        <label class="govuk-label govuk-radios__label" for="organisation">
                                            <a href="draft-prn">@draftPrn.PrnNumber</a>
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td class="govuk-table__cell">@draftPrn.Material</td>
                            <td class="govuk-table__cell">@draftPrn.SentTo</td>
                            <td class="govuk-table__cell">@draftPrn.DateCreated</td>
                            <td class="govuk-table__cell">@draftPrn.Tonnes</td>
                        </tr>
                    }
                </tbody>

            </table>

            <input class="govuk-button" type="submit" value="@DraftPrnsResources.BtnContinueEditing" style="margin-right: 20px;" />
            <input type="submit" asp-action="@Routes.Areas.Actions.PRNS.DraftPrns" asp-route-delete="@true" class="govuk-button govuk-button--secondary" value="@DraftPrnsResources.BtnDelete_Exporter" />
        </form>


    </div>
</div>



