@model DraftConfirmationViewModel

@{
    ViewData["Title"] = PrnSavedAsDraftResources.Title;
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @PrnSavedAsDraftResources.TitlePERN
    </h1>
    <div class="govuk-panel__body">
        <label>@PrnSavedAsDraftResources.LabelPERN</label>
        <br />
        <strong>@Model.Reference</strong>
    </div>
</div>
<br />
<div>
    <a class="govuk-button govuk-!-margin-right-4" data-module="govuk-button" href="#">
        @PrnSavedAsDraftResources.ViewDraftPrnsBtnPERN
    </a>
    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">
        @PrnSavedAsDraftResources.CreateAnotherPrnBtnPERN
    </a>
</div>