@model TonnesViewModel

@{
    ViewData["Title"] = @ExportTonnageResources.HowMuchTonnageQuestion;
}
<partial name="_ValidationSummary" />
<form method="post">
    <input type="hidden" asp-for="@Model.JourneyId" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <fieldset class="govuk-fieldset">
                <div class="govuk-form-group">
                    <p class="govuk-error-message">
                        <span asp-validation-for="Tonnes"></span>
                    </p>
                    <label>@PRNSTonnesResources.PERNCreateLabel</label>
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="event-name">
                        @PRNSTonnesResources.PERNTitle
                        </label>
                    </h1>
                    <br />
                    <label>@PRNSTonnesResources.WasteBalance</label>
                    <br />
                    <br />
                    <label>
                        @PRNSTonnesResources.PERNRoundingLabel
                    </label>
                    <br />
                    <br />
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="event-name">
                            @PRNSTonnesResources.PERNHowManyTonnesLabel
                        </label>
                    </h2>
                    <br />

                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10 3dp" type="text" asp-for="Tonnes" />
                        <div class="govuk-input__suffix" aria-hidden="true">@ExportTonnageResources.TonnesLabel</div>
                    </div>

                </div>
            </fieldset>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                @MasterResources.ContinueBtn
            </button>
        </div>
    </div>
</form>