@model CheckYourAnswersViewModel;
@using EPRN.Common.Enums;

@{
    ViewData["Title"] = CheckYourAnswersResources.Title;
    
    // create the route data for returning to previous pages and showing that
    // completing those redirects back here
    var queryStringRouteData = new Dictionary<string, string>
    {
        { "Id", Model.Id.ToString() },
        { EPRN.Portal.Constants.Strings.QueryStrings.ReturnToAnswers, EPRN.Portal.Constants.Strings.QueryStrings.ReturnToAnswersYes }
    };
}

@if (Model.AnswersComplete)
{
    <h1>@CheckYourAnswersResources.PrnHeading</h1>
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    @CheckYourAnswersResources.TypeOfMaterial
                </th>
                <td class="govuk-table__cell">
                    @Model.MaterialName
                </td>
                <td class="govuk-table__cell">
                    <a 
                        asp-action="Create" 
                        asp-controller="PRNS" 
                        asp-area="" 
                        asp-all-route-data=queryStringRouteData
                        asp-route-action="check">@CheckYourAnswersResources.Change</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    @CheckYourAnswersResources.TonnageAmount
                </th>
                <td class="govuk-table__cell">
                    @Model.Tonnage
                </td>
                <td class="govuk-table__cell">
                    <a 
                        asp-action="Tonnes" 
                        asp-controller="PRNS" 
                        asp-area="@Category.Reprocessor.ToString()"
                        asp-all-route-data=queryStringRouteData
                        asp-route-action="check">@CheckYourAnswersResources.Change</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    @CheckYourAnswersResources.SentTo
                </th>
                <td class="govuk-table__cell">
                    @Model.RecipientName
                </td>
                <td class="govuk-table__cell">
                    <a 
                        asp-action="SentTo" 
                        asp-controller="PRNS" 
                        asp-area="@Category.Reprocessor.ToString()"
                        asp-all-route-data=queryStringRouteData
                        asp-route-action="check">@CheckYourAnswersResources.Change</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                    @CheckYourAnswersResources.Note
                </th>
                <td class="govuk-table__cell">
                    @Model.Notes
                </td>
                <td class="govuk-table__cell">
                    <a 
                        asp-action="Note" 
                        asp-controller="PRNS" 
                        asp-area="@Category.Reprocessor.ToString()"
                        asp-all-route-data=queryStringRouteData
                        asp-route-action="check">@CheckYourAnswersResources.Change</a>
                </td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <input type="hidden" value="@Model.Id" />
        <button class="govuk-button govuk-!-margin-right-4" data-module="govuk-button">
            @CheckYourAnswersResources.PrnButtonText
        </button>
    </form>
}
else
{
    <partial name="_ErrorSummaryPanel" model="@CheckYourAnswersResources.IncompletePrn" />
}