@model DraftConfirmationViewModel

@{
    ViewData["Title"] = PrnSavedAsDraftResources.Title;
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @PrnSavedAsDraftResources.Title
    </h1>
    <div class="govuk-panel__body">
        <label>@PrnSavedAsDraftResources.Label</label>
        <br />
        <strong>@Model.ReferenceNumber</strong>
    </div>
</div>
<br />
<div>
    <a class="govuk-button govuk-!-margin-right-4" data-module="govuk-button" href="#">
        @PrnSavedAsDraftResources.ViewDraftPrnsBtn
    </a>
    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">
        @PrnSavedAsDraftResources.CreateAnotherPrnBtn
    </a>
</div>