@using Portal.Resources;
@using Portal.ViewModels;

@model WhatHaveYouDoneWasteModel
@{
    ViewData["Title"] = WasteResource.WastePage;
}

<div class="text-center">
    <a href="#" class="govuk-back-link">Back</a>
</div>

<form method="post">
    <input type="hidden" asp-for="JourneyId" />
    <div class="govuk-error-summary @(ViewContext.ViewData.ModelState.IsValid ? "govuk-visually-hidden" : string.Empty)" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                @WasteResource.ThereIsAProblem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="govuk-form-group @(!ViewContext.ViewData.ModelState.IsValid ? "govuk-form-group--error" : string.Empty)">
        <fieldset class="govuk-fieldset" aria-describedby="month-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">
                    @WasteResource.RecordingFor @Model.WasteType
                </span>
            <h1 class="govuk-fieldset__heading">
                    @WasteResource.Heading
            </h1>
        </legend>
            <div id="month-hint" class="govuk-hint">
                @WasteResource.HintText
        </div>
            <div class="govuk-radios" data-module="govuk-radios">
                <p class="govuk-error-message">
                    
        </p>
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whatHaveYouDoneWithWaste" name="SelectedWaste" type="radio" value="repoceesedIt">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                        @WasteResource.ReproceesedIt
                </label>
            </div>
            <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whatHaveYouDoneWithWaste" name="SelectedWaste" type="radio" value="sentItOn">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                        @WasteResource.SentItOn
                </label>
            </div>
                <p></p>
            </div>
        </fieldset>
        </div>
        <p></p>
        <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
            @WasteResource.Continue
            </button>
        </div>
</form>