@using EPRN.Common.Enums;
@using EPRN.Portal.Resources;
@using EPRN.Portal.ViewModels;

@model BaledWithWireViewModel
@{
    ViewData["Title"] = BaledWithWireResource.PageTitle;
}

<a href="/" class="govuk-back-link">@MasterResources.Back</a>
<form method="post">
    <input type="hidden" asp-for="JourneyId" />
    <partial name="_ValidationSummary" />

    <span class="govuk-caption-l">
        @MasterResources.RecordingFor @Model.WasteType
    </span>
    <radios asp-for="BaledWithWire" asp-title="@BaledWithWireResource.Heading">
        <div class="govuk-hint">
            @BaledWithWireResource.HintText
        </div>
        <p class="govuk-error-message">
            <span asp-validation-for="BaledWithWire"></span>
        </p>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" asp-for="BaledWithWire" value=@true aria-describedby="@BaledWithWireResource.YesSelection">
            <label class="govuk-label govuk-radios__label" for="@BaledWithWireResource.YesSelection">
                @BaledWithWireResource.YesSelection
            </label>
        </div>

        <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" asp-for="BaledWithWire" value=@false aria-describedby="@BaledWithWireResource.NoSelection">
            <label class="govuk-label govuk-radios__label" for="@BaledWithWireResource.NoSelection">
                @BaledWithWireResource.NoSelection
            </label>
        </div>

    </radios>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>