@using EPRN.Portal.Resources;
@using EPRN.Portal.ViewModels;
@using EPRN.Common.Enums;

@model DuringWhichMonthRequestViewModel

@{
    string heading;
    if (Model.WhatHaveYouDone == DoneWaste.ReprocessedIt)
    {
        ViewData["Title"] = @WhichQuarterResources.PageTitleReceived;
        heading = WhichQuarterResources.HeadingReceived;
    }
    else
    {
        ViewData["Title"] = @WhichQuarterResources.PageTitleSent;
        heading = WhichQuarterResources.HeadingSent;

    }
}

<a href="/" class="govuk-back-link">@MasterResources.Back</a>
<form method="post">
    <input type="hidden" asp-for="JourneyId" />
    <input type="hidden" asp-for="WhatHaveYouDone" />
    <partial name="_ValidationSummary" />

    <span class="govuk-caption-l">
        @MasterResources.RecordingFor @Model.WasteType
    </span>
    <radios asp-for="SelectedMonth" asp-title="@heading">
        <div class="govuk-hint">
            @WhichQuarterResources.HintText
        </div>

        <p class="govuk-error-message">
            <span asp-validation-for="SelectedMonth"></span>
        </p>
        @foreach (var element in Model.Quarter)
        {
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" asp-for="SelectedMonth" value="@element.Key" aria-describedby="@element.Key">
                <label class="govuk-label govuk-radios__label" for="@element.Key">
                    @element.Value
                </label>
            </div>
        }
    </radios>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>