@using EPRN.Common.Enums;

@model DuringWhichMonthRequestViewModel

@{
    string heading;
    string hintText;
    @if (@Model.Category == Category.Reprocessor)
    {
        ViewData["Title"] = @WhichQuarterResources.PageTitleSent;
        heading = WhichQuarterResources.HeadingSent;
        hintText = WhichQuarterResources.HintTextSent;
    }
    else
    {
        ViewData["Title"] = @WhichQuarterResources.PageTitleReceived;
        heading = WhichQuarterResources.HeadingReceived;
        hintText = WhichQuarterResources.HintTextReceived;
    }
}

<partial name="_ValidationSummary" />
<partial name="_WasteTypeName" />
<form method="post">
    <input type="hidden" asp-for="WhatHaveYouDone" />
    <radios asp-for="SelectedMonth" asp-title="@heading">
        <div class="govuk-hint">
            @hintText
        </div>

        <p class="govuk-error-message">
            <span asp-validation-for="SelectedMonth"></span>
        </p>
        @if(Model.WhatHaveYouDone == DoneWaste.ReprocessedIt)
        {
            <partial name="_RadioOptionReprocessedIt" model="Model"/>
        }
        else
        {
            <partial name="_RadioOptionSentItOn" model="Model" />
        }
    </radios>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>