@using EPRN.Common.Enums;
@using EPRN.Portal.Services.Interfaces;

@inject IUserRoleService userRoleService

@model NoteViewModel

@{
    ViewData["Title"] = @NoteResources.PageTitle;
}

<partial name="_ValidationSummary" />
<partial name="_CreateWasteTypeName" for="@Model.WasteCategory" />
<form method="post">
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="with-hint">
                    @NoteResources.PageHeading
                </label>
            </h1>
            <div id="with-hint-hint" class="govuk-hint">
                @switch (Model.WasteCategory)
                {
                    case Category.Reprocessor:
                        @NoteResources.HintTextWithReplace.Replace("<PRNTYPE>", MasterResources.PRN);
                        break;
                    case Category.Exporter:
                        @NoteResources.HintTextWithReplace.Replace("<PRNTYPE>", MasterResources.PERN);
                        break;
                    case Category.Unknown:
                        @NoteResources.HintTextWithReplace.Replace("<PRNTYPE>", MasterResources.UnknownWasteType);
                        break;
                }              
            </div>
            <p class="govuk-error-message">
                <span asp-validation-for="NoteContent"></span>
            </p>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" asp-for="NoteContent" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
        </div>
        <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            @NoteResources.HintTextInfo
        </div>
    </div>
    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
            @MasterResources.ContinueBtn
        </button>
        <a class="govuk-link" asp-action="Note">@MasterResources.SkipQuestionLink</a>
    </div>
</form>