@using EPRN.Portal.Services.Interfaces;
@using Microsoft.Extensions.Localization;
@using EPRN.Portal.Helpers.Interfaces;

@model RecordWasteViewModel
@inject ILocalizationHelper<WasteTypesResources> localizationHelper
@inject IUserRoleService userRoleService

@{
    ViewData["Title"] = @WasteTypesResources.MaterialTypeOptionsTitle;
    ViewData["WasteId"] = Model.Id;
}

<label class ="govuk-label">
    @RecordWasteResources.CompanyNameLabel
</label>
<h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="with-hint">
        @RecordWasteResources.RecordWasteLabel
    </label>
</h1>
@if ((Model.Id == null && userRoleService.HasRole(EPRN.Common.Enums.UserRole.Reprocessor)) ||
    (Model.Id.HasValue && userRoleService.HasRole(EPRN.Common.Enums.UserRole.Reprocessor) && Model.Category == EPRN.Common.Enums.Category.Reprocessor))
{
    <partial name="_RecordWasteCategorySection" model="@Model.ReprocessorSiteMaterials" />
}

@if ((Model.Id == null && userRoleService.HasRole(EPRN.Common.Enums.UserRole.Exporter)) ||
    (Model.Id.HasValue && userRoleService.HasRole(EPRN.Common.Enums.UserRole.Exporter) && Model.Category == EPRN.Common.Enums.Category.Exporter))
{
    <partial name="_RecordWasteCategorySection" model="@Model.ExporterSiteMaterials" />
}