@using Microsoft.Extensions.Localization;
@using EPRN.Portal.Helpers.Interfaces;

@model WasteSubTypesViewModel
@inject ILocalizationHelper<WasteSubTypesResources> localizationHelper
@inject WasteCommonViewModel wasteMetaData;

@{
    ViewData["Title"] = @WasteSubTypesResources.MaterialSubTypeOptionsTitle;
}

<partial name="_ValidationSummary" />
<partial name="_WasteTypeName" />
<form method="post">
    <radios id="SelectedWasteSubTypeId" asp-for="SelectedWasteSubTypeId" asp-title="@WasteSubTypesResources.MaterialSubTypeOptionsTitle">
        <p class="govuk-error-message">
            <span asp-validation-for="SelectedWasteSubTypeId"></span>
        </p>
        @foreach(var wasteSubType in Model.WasteSubTypeOptions)
        {
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" type="radio" asp-for="SelectedWasteSubTypeId" value="@wasteSubType.Id" data-custompercentage="@wasteSubType.AdjustmentPercentageRequired.ToString().ToLower()">
                <label class="govuk-label govuk-radios__label" for="@wasteSubType.Id">
                    @localizationHelper.GetString(wasteSubType.Name)
                </label>
            </div>
            if (wasteSubType.AdjustmentPercentageRequired)
            {
                <div class="govuk-form-group" id="custom-percentage-div">
                    <p class="govuk-error-message">
                        <span asp-validation-for="CustomPercentage"></span>
                    </p>
                    <div class="govuk-input__wrapper custom-percentage-input">
                        <input class="govuk-input govuk-input--width-5" type="text" asp-for="CustomPercentage" />
                        <div class="govuk-input__suffix" aria-hidden="true">%</div>
                    </div>
                </div>
            }
        }

        @for (int i = 0; i < Model.WasteSubTypeOptions.Count; i++)
        {
            <input type="hidden" name="WasteSubTypeOptions[@i].Id" value="@Model.WasteSubTypeOptions[i].Id" />
            <input type="hidden" name="WasteSubTypeOptions[@i].Name" value="@Model.WasteSubTypeOptions[i].Name" />
            <input type="hidden" name="WasteSubTypeOptions[@i].Adjustment" value="@Model.WasteSubTypeOptions[i].Adjustment" />
            <input type="hidden" name="WasteSubTypeOptions[@i].AdjustmentPercentageRequired" value="@Model.WasteSubTypeOptions[i].AdjustmentPercentageRequired.ToString().ToLower()" />
        }
    </radios>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>