@model WasteRecordStatusViewModel

@{
    ViewData["Title"] = @WasteRecordCompleteResources.HomePage_Title;
}

<div>
    <a asp-controller="Home" asp-action="Index">@WasteRecordCompleteResources.BackLink</a>
</div>
<br />

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @WasteRecordCompleteResources.MessageTitle
    </h1>
    <div class="govuk-panel__body">
        @WasteRecordCompleteResources.ReferenceNumber<br><strong>@Model.WasteRecordReferenceNumber</strong>
    </div>
</div>

<div class="text-center">
    <span class="govuk-caption-m">@WasteRecordCompleteResources.WasteBalance <b>@Model.WasteBalance</b> @WasteRecordCompleteResources.WasteBalance2</span><br />
    <span class="govuk-caption-m"><a asp-action="Index">@WasteRecordCompleteResources.RecordMoreWaste</a></span><br />
    <span class="govuk-caption-m"><a asp-action="Index">@WasteRecordCompleteResources.ViewEditDownloadOrDeleteWasteRecords</a></span><br />
    <span class="govuk-caption-m"><a asp-action="Index">@WasteRecordCompleteResources.GoToAccountHomePage</a></span><br />
</div>

<br />

<button class="govuk-button" data-module="govuk-button">
    @MasterResources.ContinueBtn
</button>
