@model ReProcessorSummaryViewModel
@using EPRN.Portal.Resources;
@using EPRN.Portal.Services.Interfaces;
@using Microsoft.AspNetCore.Mvc.Routing;

@{
    ViewData["Title"] = WasteJourneyResources.HomePage_Title;
}

<div>
    <a asp-action="Index">@WasteJourneyResources.HomeLink</a>
</div>
<br />

<div class="text-center">
    <span class="govuk-caption-m">@Model.ContactName</span>
    <span class="govuk-body govuk-!-font-weight-bold">@Model.Name</span>
    <span class="govuk-caption-m">@Model.AccountNumber</span>
</div>
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        @await Html.PartialAsync("_accountSummaryCard", new ViewDataDictionary(ViewData){
        {"card_title", @WasteJourneyResources.HomePage_Account_Title},
        {"card_description", @WasteJourneyResources.HomePage_Account_Description},
        {"card_links", new Dictionary<string, string>() {
        {@WasteJourneyResources.HomePage_Account_Link_CreateUser, "#"}, 
        {@WasteJourneyResources.HomePage_Account_Link_ManageUser, "#"}, 
        {@WasteJourneyResources.HomePage_Account_Link_DetailUser, "#"}
        }}})
    </div>

    <div class="govuk-grid-column-one-half">
        @await Html.PartialAsync("_accountSummaryCard", new ViewDataDictionary(ViewData){
        {"card_title", @WasteJourneyResources.HomePage_Accredidation_Title},
        {"card_description", @WasteJourneyResources.HomePage_Accredidation_Description},
        {"card_links", new Dictionary<string, string>() {
        {@WasteJourneyResources.HomePage_Accredidation_Link_MyAccredidations, "#"},
        {@WasteJourneyResources.HomePage_Accredidation_Link_ApplyForAccredidation, "#"},
        {@WasteJourneyResources.HomePage_Accredidation_Link_ViewApplications, "#"}
        }}})
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        @await Html.PartialAsync("_accountSummaryCard", new ViewDataDictionary(ViewData){
        {"card_title", @WasteJourneyResources.HomePage_WasteManagement_Title},
        {"card_description", @WasteJourneyResources.HomePage_WasteManagement_Description},
        {"card_links", new Dictionary<string, string>() {
        {
            @WasteJourneyResources.HomePage_WasteManagement_Link_RecordWaste, Url.Action("Types", "Waste", new { type = JourneyType.Exporter })
        },
        {@WasteJourneyResources.HomePage_WasteManagement_Link_ManageAPrn, "#"},
        {@WasteJourneyResources.HomePage_WasteManagement_Link_SubmitAReturn, "#"},
        {@WasteJourneyResources.HomePage_WasteManagement_Link_ViewEditRecords, "#"}
        }}})
    </div>
</div>
